<% content_for(:title, "Caleb Barnwell Blog - #{@article.title}") %>
<div class="text-center">
<h1 class="article_header"><%= @article.title %></h1>

<h4>
  <% if !(@article.author.nil?) %>
      <%= "Posted #{distance_of_time_in_words_to_now(@article.created_at)} ago by #{@article.author}"%>
      <% else %>
      <%= "Posted #{distance_of_time_in_words_to_now(@article.created_at)} ago"%>
  <% end %>
</h4>

<h4>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</h4>

<p>
  <div class="art-img">
  <% if @article.image.exists? %>
      <%= image_tag @article.image.url %><br/>
  <% end %>
  </div>
</p>

<div class="article_body"><%= raw @article.body %></div>

<h4>
  <% if logged_in? %>
  <%= link_to "Edit Article", edit_article_path(@article) %>
  <%= " | " %>
  <%= link_to "Delete Article", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>
  <%= " | " %>
  <%= link_to "Return to Home", articles_path %>
  <% end %>
</h4>

<%= render partial: 'comments/form' %>

<h3>Comments (<%= @article.comments.size %>):</h3>
<%= render partial: 'articles/comment', collection: @article.comments.reverse %>
</div>