<% content_for(:title, "Caleb Barnwell Projects") %>
<h1>Caleb's Projects</h1>

<hr/>

<!-- Projects
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="projects size media-middle text-center">

  <h2><a href="https://basilio0505.itch.io/ankhor" target="_blank">Ankhor</a></h2>
  <p>(Spring 2019)</p>
  <hr class="hr-minor"/>
  <figure><a href="https://basilio0505.itch.io/ankhor" target="_blank"><%= image_tag('ankhorThumbnail.png', class: 'small') %></a></figure>
  <div class="clearfix"></div>
  <br>
  <figcaption><i>VR Stealth Horror</i></figcaption>
  <br>
  <p>Ankhor is a VR Stealth Horror game for the HTC Vive developed a team of three programmers (including myself), an audio engineer, a character artist, an environment artist, and a level designer. This game was created in Unity utilizing C#. My duties included creating the tutorial, initializing both teleportation and locomotion for the player, setting up in-game menus, working with player-environment interaction, working with the level designer to create frightening events, working with the audio engineer to make Wwise work properly, and setting up the VR systems at numerous playtests. </p>

  <hr/>

  <h2>FitFeed</h2>
  <p>(Fall 2019)</p>
  <hr class="hr-minor"/>
  <figure><%= image_tag('fitFeed.png', class: 'small') %></figure>
  <div class="clearfix"></div>
  <br>
  <figcaption><i>FitFeed Splash Page</i></figcaption>
  <br>
  <p>FitFeed is a social media application developed for iOS. It's aimed for those interested in fitness and exercise. Users are able to create and share workouts with followers, as well as save those they find helpful from other accounts. This was developed by a team of four at the University of Texas. My duties included creating the profile page, workout creation, listing, and display pages, and the workout timer utility. Developed using Swift and Xcode.</p>

  <hr/>

  <h2>OgreBall</h2>
  <p>(Fall 2018)</p>
  <hr class="hr-minor"/>
  <figure><%= image_tag('OgreBallPic.png', class: 'medium') %></figure>
  <div class="clearfix"></div>
  <br>
  <figcaption><i>Multiplayer gameplay</i></figcaption>
  <br>
  <p>This project is essentially a recreation of the classic pong game, but in 3D! In single player mode, players can start a rally against the wall and see how long how high of a score they can get before allowing the ball to hit the wall behind their paddle. In multiplayer mode, players score on eachother by hitting the ball in such a way that it goes behind the other player's paddle. Our team began only with the Ogre3D graphics engine for our basic game loop. From there, we tied in the Bullet physics library, CEGUI, and sdl_net, to create our simulation loop and to provide networking and GUI capabilities.</p>

  <hr/>

  <h2><a href="https://devpost.com/software/scavengerhuntvr" target="_blank">ScavengerHuntVR</a></h2>
  <p>(Fall 2016)</p>
  <figure><a href="https://devpost.com/software/scavengerhuntvr" target="_blank"><%= image_tag('Scavenger.png') %></a><figcaption><i>A Player Searches for Keys</i></figcaption></figure>
  <p>Collaborative project that received 3rd place at HackRice 2016 and won the Facebook Communication Challenge.</p>

  <hr/>


  <h2><a href="https://devpost.com/software/surviver" target="_blank">SurVIVEr</a></h2>
  <p>(Fall 2016)</p>
  <hr class="hr-minor"/>
  <figure><a href="https://devpost.com/software/surviver" target="_blank"><%= image_tag('surviver.jpg') %></a><figcaption><i>A Portion of the Explorable Map</i></figcaption></figure>
  <p>Collaborative project that received Best Hardware Hack at CodeRED 2016.</p><br/>

  <hr/>

  <a href="../../../content/Breakout.html" target="_blank"><h2>Breakout</h2></a>
  <p>(Spring 2016)</p>
  <hr class="hr-minor"/>
  <figure><a href="../../../content/Breakout.html" target="_blank"><%= image_tag('breakout.png') %></a><figcaption><i>In-game View of Play</i></figcaption></figure>
  <p>Brick-breaker game in JavaScript. (Available to play right now if you click on the "Tic Tac Toe" Title above!)</p>

  <hr/>

  <a href="../../../content/ticTacToe.html" target="_blank"><h2>Tic Tac Toe</h2></a>
  <p>(Spring 2016)</p>
  <hr class="hr-minor"/>
  <figure><a href="../../../content/ticTacToe.html" target="_blank"><%= image_tag('ticTac.png') %></a><figcaption><i>In-game View of Play</i></figcaption></figure>
  <p>Tic Tac Toe game in JavaScript. (Available to play right now if you click on the "Tic Tac Toe" Title above!)</p>

  <hr/>

  <h2 ><a href="https://devpost.com/software/morse-codding" target="_blank">Morse Coding</a></h2>
  <p>(Fall 2016)</p>
  <hr class="hr-minor"/>
  <p>Collaborative project made at TAMU Hack 2016. Involves algorithmic translation of Morse Code to alphabet through mouse clicks.
    Specifically designed for communication for those with mobile disabilities.</p>

  <hr/>

    <h2>Impulse Meter</h2>
    <p>(Fall 2016)</p>
    <hr class="hr-minor"/>
    <figure><%= image_tag('impulseMeter.jpg') %><figcaption><i>Our Impulse Meter</i></figcaption></figure>
    <p>Collaborative project that involved planning using Mechanical Physics and Mathematics to find the simplest way to measure impulse (Change in momentum). Since we measured our
      spring constant before construction, this is performed by using a slow motion camera and observing the distance of the compression of the spring when hit by an object. Next the time until max compression must also be observed. This allows for measuring of impulse with minimal knowledge of variables, including the neglection of mass. We checked our results using conservation of energy and kinematics to compare the theoretical change in momentum.</p>
    <p>Equations used: F = kx, J = F&Delta;t </p><br/>

  <hr/>

  <h2>Personal Computer Building</h2>
  <p>(Fall 2015 to Present)</p>
  <hr class="hr-minor"/>
  <div class="col-sm-6"><figure><%= image_tag('pcPic.jpg', class: 'medium') %><figcaption ><i>My Computer</i></figcaption></figure></div>
  <div class="col-sm-6"><figure><%= image_tag('pcPic2.jpg', class: 'medium') %><figcaption><i>Computer Monitor Setup</i></figcaption></figure></div>
  <div class="clearfix"></div>
  <br/>


  <p>I spent time collecting parts and built my own computer from scratch. I still go through and update various parts so it is a project of mine that continues to this day. <br/><br/> Specs: Intel i7 6700k, EVGA Geforce 980 ti, 16gb DDR4 RAM, ASUS Z170-A, 800W PSU, 4tb HDD, 2tb HDD, 2x 250gb SSD</p>
  <br/>

  <hr/>


  <h2>Blog Site</h2>
  <p>(Spring 2017)</p>
  <hr class="hr-minor"/>
  <div class="col-sm-6"><figure><%= image_tag('blogPic1.png', class: 'medium') %><figcaption><i>List of Blog Articles</i></figcaption></figure></div>
  <div class="col-sm-6"><figure><%= image_tag('blogPic2.png', class: 'medium') %><figcaption><i>Blog Screen with Comments</i></figcaption></figure></div>
  <div class="clearfix"></div>
  <br/>
  <p>Created a Blog Website using Ruby, Ruby on Rails, and HTML. Using Rail's database integration, you are able to post new blog articles and make comments to articles along with making deletions. The site will dynamically update. </p>
  <br/>

  <hr/>

  <h2>Server Simulation</h2>
  <p>(Spring 2017)</p>
  <hr class="hr-minor"/>
  <div class="col-sm-6"><figure><%= image_tag('simPic1.png', class: 'medium') %></figure></div>

  <div class="col-sm-6"><figure><%= image_tag('simPic2.png', class: 'medium') %></figure></div>
  <div class="clearfix"></div>
  <br>
  <figcaption><i>Server Simulation Processing</i></figcaption>
  <br>
  <p>As a simulation, a business wished to update their current server setup. I was able to simulate each new possible way in which they could setup their servers, and wrote a detailed document expressing which setup they should move forward with based on a cost/efficiency ratio. This method would potentially save businesses money as they can predict how they should move forward.</p>
</div>