<!-- Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="nav-outer">
  <div class="nav-wrap">
    <nav class="navigation">
      <div class="logo"><img src="images/smallNewLogo.png"></div>
      <div class='nav' nav-menu-style="yoga"> <!-- Nav-menu-style comes from main.js -->
        <ul class="nav-menu">
          <li><%= link_to 'Home', root_path %></li>
          <% if admin_signed_in? %>
              <!--This block is only visible to signed in admins -->
              <li><%= link_to 'New Post', new_post_path %></li>
              <li><%= link_to 'My Account', edit_admin_registration_path  %></li>
              <li><%= link_to 'Logout', destroy_admin_session_path, :method => :delete %></li>
              <!-- The block ends here -->
          <% else %>
              <li><%= link_to 'Login', new_admin_session_path  %></li>
          <% end %>
        </ul>
    </nav>
  </div>
</div>
<div class ="nav-clear"></div>
<!--- End Navigation -->
<div class="clearfix"></div>