<nav>
  <i class="fa fa-bars fa-2x white" id="open" onclick="openNav()"></i>

  <div id="leftNav">
    <i class="fa fa-chevron-left fa-2x white" id="close" onclick="closeNav()"></i>
    <div class="clearfix"></div>
    <%= link_to 'Home', root_path %>
    <%= link_to 'About', root_url+'pages/about' %>
    <%= link_to 'Projects', root_url+'pages/projects' %>
    <%= link_to 'Education', root_url+'pages/education' %>
    <%= link_to 'Employment', root_url+'pages/employment' %>
    <%= link_to 'Awards', root_url+'pages/awards' %>
    <% if logged_in? %>
        <!--This block is only visible to signed in admins -->
        <%= link_to 'New Post', new_article_path %>
        <%= link_to 'Blog', articles_path  %>
        <%= link_to 'Logout', logout_path %>
        <!-- The block ends here -->
    <% else %>
        <%= link_to 'Blog', articles_path  %>
        <%= link_to 'Login', login_path  %>
    <% end %>
  </div>
</nav>