<nav data-view = "closed">
  <i class="fa fa-bars fa-2x white" id="navToggle" onclick="openNav()"></i>

  <div id="leftNav">
    <div class="clearfix"></div>
    <ul>
    <li><%= active_link_to 'Home', root_path %></li>
    <li><%= active_link_to 'About', root_url+'pages/about' %></li>
    <li><%= active_link_to 'Projects', root_url+'pages/projects' %></li>
    <li><%= active_link_to 'Education', root_url+'pages/education' %></li>
    <li><%= active_link_to 'Employment', root_url+'pages/employment' %></li>
    <li><%= active_link_to 'Awards', root_url+'pages/awards' %></li>
    <% if logged_in? %>
        <!--This block is only visible to signed in admins -->
        <li><%= active_link_to 'New Post', new_article_path %></li>
        <li><%= active_link_to 'Blog', articles_path  %></li>
        <li><%= active_link_to 'Logout', logout_path %></li>
        <!-- The block ends here -->
    <% else %>
        <li><%= active_link_to 'Blog', articles_path  %></li>
        <li><%= active_link_to 'Login', login_path  %></li>
    <% end %>
    </ul>
  </div>
</nav>